.css-19cpxw1{
    background-image: url("../../../../assets/img/bg-404.png");
    width: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Snipper_loading__title__6K0l{
    font-weight: 600;
    letter-spacing: 5px;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}