.css-19cpxw1 {
  background-image: url("../../../../assets/img/bg-404.png");
  width: 100%;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Snipper_loading__title__6K0l {
  font-weight: 600;
  letter-spacing: 5px;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.modal-sx {
  max-width: 400px;
  min-width: 200px;
  border-radius: 4px;
}

.css-sjy0nk {
  left: -35px;
  /* z-index: 9000; */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  color: rgb(51, 51, 51);
  top: 5%;
}

.css-10rwe4n {
  right: -45px;
  /* z-index: 9000; */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  color: rgb(51, 51, 51);
  top: 5%;
}

.modal-375 {
  max-width: 375px;
  min-width: 315px;
  border-radius: 4px;
}

.description__short__detail,
.description__short__detail b,
.description__short__detail em,
.description__short__detail em strong,
.description__short__detail p,
.description__short__detail p span,
.description__short__detail p strong {
  font-family: Nunito Sans, sans-serif !important;
  font-style: inherit !important;
  font-weight: 400 !important;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allow text wrapping */
  display: -webkit-box !important;
  -webkit-line-clamp: 3; /* Still truncate after 3 lines */
  -webkit-box-orient: vertical;
}
.modal-ticket:after,
.modal-ticket:before {
  content: "";
  position: absolute;
  bottom: -50px;
  border-top: none;
  width: 17px;
  height: 35px;
  background-color: #afafaf;
}

.modal-ticket:before {
  transform: translate(-141%, -100%);
  border-radius: 0 12rem 12rem 0;
}

.modal-ticket:after {
  right: 0;
  transform: translate(141%, -100%);
  border-radius: 12rem 0 0 12rem;
}

#custom__btn__icon-close-confirm {
  top: 0;
  right: 50%;
}

.modal-confirm-order {
  padding: 40px 0 0 !important;
}

.modal-radius-10 {
  border-radius: 10px;
}

.custom__modal_confirm {
  width: 100%;
  border-radius: 4px;
}

.modal-defaut {
  min-width: 400px;
  max-width: 90vw;
}

.card__item__ticket:after, .card__item__ticket:before {
    content: "";
    position: absolute;
    bottom: 25px;
    border-top: none;
    width: 16px;
    height: 18px;
    background-color: #f6f6f6;
}

.card__item__ticket:before {
    transform: translate(-155%, -110%);
    border-radius: 0 12rem 12rem 0;
}

@media only screen and (min-width: 1024px) {
    .card__item__ticket:after, .card__item__ticket:before {
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .card__item__ticket:after, .card__item__ticket:before {
        bottom: 20px;
    }
}

.card__item__ticket:after {
    right: 0;
    transform: translate(30%, -110%);
    border-radius: 12rem 0 0 12rem;
}

.card__item__ticket:after, .card__item__ticket:before {
    content: "";
    position: absolute;
    bottom: 25px;
    border-top: none;
    width: 16px;
    height: 18px;
    background-color: #f6f6f6;
}