.react-responsive-modal-root {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.react-responsive-modal-container, .react-responsive-modal-modal, .react-responsive-modal-overlay {
    animation-fill-mode: forwards !important;
}
.react-responsive-modal-overlay {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.react-responsive-modal-container {
    height: 100%;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.react-responsive-modal-modal {
    max-width: 800px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background: #fff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .25);
    margin: 1.2rem;
    padding: 1.2rem;
    position: relative;
    overflow-y: auto;
}
.react-responsive-modal-closeButton {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    display: flex;
}

.modal-sx {
    max-width: 400px;
    min-width: 200px;
    border-radius: 4px;
}

.react-responsive-modal-container, .react-responsive-modal-modal, .react-responsive-modal-overlay {
    animation-fill-mode: forwards !important;
}

@keyframes react-responsive-modal-modal-in{
    0%{opacity: 0; transform: scale(.96);}

    100%{opacity: 1; transform: scale(100%);}
}
@keyframes react-responsive-modal-overlay-in{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
