.filter__date{
    overflow-x: scroll
}
.drop-down{
    box-sizing: border-box;
    position: relative;
    display: flex;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    padding: 2px 5px;
    flex-direction: row;
    direction: ltr;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    min-height: 36px;
    pointer-events: all;
    outline: none;
    border-radius: 4px;
}